<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container" id="app">
    <div class="row">
      <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#custom-table-modal">
          自定义表格
        </button>
      </div>
      <table class="table table-borded">
        <thead>
          <tr>
            <th v-for="item in tableHeaderData"  v-if="item.isShown == 'true'" >{{ item.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in tableData">
            <td v-for="field in tableHeaderData" v-if="field.isShown == 'true'">{{ item[field.fieldname] }}</td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="custom-table-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">自定义表格</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6" v-for="field in tableHeaderData">
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{ field.name }}</label>
                        <div class="col-md-8">
                          <div class="checkbox">
                            <input v-bind:name="field.fieldname + '-radio-table'" v-model="field.isShown" type="radio" value="true" />显示
                            <input v-bind:name="field.fieldname + '-radio-table'" v-model="field.isShown" type="radio" value="false" />隐藏
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-on:click="changeTableHeader">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    message: 'hello world',
    tableHeaderData: [],
    tableData: []
  },
  methods: {
    changeTableHeader: function() {
      console.log(this.tableHeaderData)
      //将最新的数据通过ajax的方式调用后台接口实现数据保存
    }
  },
  created: function() {
    //发起一个Ajax请求获取到数据表格列信息
    this.tableHeaderData = [
      {name: '姓名', fieldname: 'name', isShown: "true"},
      {name: '性别', fieldname: 'sex', isShown: "true"},
      {name: '出生日期', fieldname: 'birthday', isShown: "true"},
      {name: '地址', fieldname: 'address', isShown: "true"},
      {name: '手机号码', fieldname: 'mobilephone', isShown: "false"}
    ]
    //发起一个Ajax的请求到后台获取数据
    this.tableData = [
      {name: "张三", sex: '男', birthday: '1986-10-23', address: '湖南省长沙市雨花区', mobilephone: '13658584444'},
      {name: "李四", sex: '男', birthday: '1996-10-23', address: '湖南省长沙市芙蓉区', mobilephone: '13658584444'},
      {name: "李四", sex: '男', birthday: '1996-10-23', address: '湖南省长沙市芙蓉区', mobilephone: '13658584444'},
      {name: "李四", sex: '男', birthday: '1996-10-23', address: '湖南省长沙市芙蓉区', mobilephone: '13658584444'},
      {name: "李四", sex: '男', birthday: '1996-10-23', address: '湖南省长沙市芙蓉区', mobilephone: '13658584444'},
      {name: "李四", sex: '男', birthday: '1996-10-23', address: '湖南省长沙市芙蓉区', mobilephone: '13658584444'}
    ]
  }
})
</script>
</html>