<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">
  <title>Vue从入门到熟悉</title>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <h1>Vue从入门到熟悉</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12" v-for="book in books">
          <div class="col-md-4">
            <img class="book-img" v-bind:src="book.img" v-bind:alt="book.title" />
          </div>
          <div class="col-md-8">
            <h2>{{ book.title }}</h2>
            <p><label>作者：</label>{{ book.author }}</p>
            <p><label>出版社：</label>{{ book.press }}</p>
            <p><label>价格：</label>{{ book.price }}</p>
            <p><label>ISBN：</label>{{ book.isbn }}</p>
            <p><label>评分：</label>{{ book.rating  }}</p>
            <p><button class="btn btn-sm btn-primary" v-on:click="addToCart(book)">加入购物车</button></p>
          </div>
        </div>
      </div>
      <div class="col-md-4" v-if="carts.length > 0">
        <div v-for="cart in carts">
          <h4>{{ cart.title }}</h4>
          <p>
            <label>{{ cart.price }} * {{ cart.num }}</label>
            <span class="btn btn-sm btn-default" v-on:click="inc(cart)">+</span>
            <span class="btn btn-sm btn-default" v-on:click="dec(cart)">-</span>
          </p>
        </div>
        <div>总计：{{ total }}</div>
      </div>
      <div class="col-md-4" v-else>购物为空</div>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script>
let vm = new Vue({
  el: '#app',
  data: {
    message: 'Hello world',
    books: [],
    carts: []
  },
  methods: {
    addToCart(book) {
      let exists = false
      let cartIndex = null
      this.carts.find(function(cart, index) {
        if(cart.id === book.id) {
          exists = true
          cartIndex = index
        }
      })
      if(exists) {
        let cart = this.carts[cartIndex]
        this.inc(cart)
        return 
      }
      book.num = 1
      this.carts.push(book)
    },
    inc(cart) {
      let index = this.carts.indexOf(cart)
      cart.num += 1
      this.carts.splice(index, 1, cart)
    },
    dec(cart) {
      let index = this.carts.indexOf(cart)
      if(cart.num === 1) {
        this.carts.splice(index, 1)
        return 
      }
      cart.num -= 1
      this.carts.splice(index, 1, cart)
    }
  },
  computed: {
    total: function() {
      let total = 0
      this.carts.forEach(function(cart) {
        total += cart.price * cart.num
      })
      return total.toFixed(2)
    }
  },
  created: function() {
    //通过Ajax的方式获取到数据
    this.books = [
      {
        id: '26835090',
        title: '软技能',
        img: 'https://img3.doubanio.com/view/subject/l/public/s28889106.jpg',
        author: 'John Sonmez ',
        press: '人民邮电出版社',
        price: '59.00',
        isbn: '9787115429476',
        rating: '8.0'
      },
      {
        id: '1033778',
        title: '富爸爸，穷爸爸',
        img: 'https://img3.doubanio.com/view/subject/l/public/s1429010.jpg',
        author: '（美）罗伯特・T・清崎 ',
        press: ' 世界图书出版公司',
        price: '18.80',
        isbn: '9787506246743',
        rating: '8.2'
      }
    ]
  }
})
</script>
</html>